@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); /* 导入字体 */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0066cc 3px solid;
}
header a {
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul {
    padding: 0;
    list-style: none;
}
header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding {
    float: left;
}
header #branding h1 {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
}
header nav {
    float: right;
    margin-top: 10px;
}
.news-form {
    width: 100%;
    margin-top: 20px;
}
.news-form input, .news-form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}
.news-form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 3px;
    font-family: 'Press Start 2P', cursive;
}